.gameContainer {
   text-align: center;
}

.gameBoard {
    border: 3px solid;
}

.score {
    font-family: 'Moirai One', cursive;
    font-size: 100px;
}

.resetButton {
    font-family: "Roboto";
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}